<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Import Vue mode 1 -->
	<!-- <script src="../vue.js"></script> -->

	<!-- Import Vue mode 2 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<style>
	
  </style>

	<title>Testes</title>
</head>

<body>
	<div id="app">
    <button @click="puxarPaises">Puxar</button>
    <select name="paises" id="paises" v-model="paisSelecionado">
      <option v-for="pais in paises" :value="pais.name">
        {{pais.name}}
      </option>
    </select>
    <p>{{capital.capital}}</p>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        paisSelecionado: "",
        capital: "",
        paises: {}
      },
      methods: {
        puxarPaises() {
          fetch("https://restcountries.eu/rest/v2/all")
          .then(r => r.json())
          .then(r => {
            this.paises = r;
          })
        }
      },
      watch: {
        paisSelecionado(valor) {
          this.capital = this.paises.find((pais) => pais.name === valor);
        }
      }
    });
  </script>
</body>

</html>